<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Crona</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>CRONA_APP_ENV</key>
	<string>development</string>
	<key>CRONA_DAEMON_LABEL</key>
	<string>crona</string>
	<key>CRONA_RUNTIME_DIR</key>
	<string>$(HOME)/Library/Application Support/Crona Dev</string>
	<key>CRONA_KERNEL_EXECUTABLE</key>
	<string>crona-kernel</string>
	<key>CRONA_KERNEL_DEV_EXECUTABLE</key>
	<string>crona-kernel-dev</string>
	<key>CRONA_POSTHOG_API_KEY</key>
	<string>$(CRONA_POSTHOG_API_KEY)</string>
	<key>CRONA_RELEASE_CHANNEL</key>
	<string>development</string>
	<key>CRONA_RELEASE_VERSION</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CRONA_UPDATES_ENABLED</key>
	<false/>
</dict>
</plist>
